body {
    font-family: 'PT Sans', sans-serif;
}

.section {
    font-size: 6em;
    text-align: center;
}

#section1 {
    background-image: url("images/dogface.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


#section2 {
    background-color: #f7fbfe;
}


#section3 {
    background-color: #f7fbfe;
}


/*#header, #footer {
position:fixed;
height: 50px;
display:block;
width: 100%;
background: white;
z-index:9;
color: black;
padding: 20px 0 0 0;
}*/

#header {
    top:0px;
    position:fixed;
    height: 90px;
    display:block;
    width: 100%;
    z-index:9;
    background: #3e4692;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 4px #7ea1c9;
}

#header a {
    color: #f7fbfe;
    padding: 5px;
}

#navLinks {
    padding: 40px;
}

#header img {
    padding-left: 30px;
}

#footer {
    bottom:0px;
    position:absolute;
    height: 20px;
    display:block;
    width: 100%;
    z-index:9;
    background: #f7fbfe;
    color: black;
    padding: 20px 0px 10px 20px;

}