nav {
    top:0px;
    position:fixed;
    height: 11vh;
    width: 100%;
    z-index: 1;
    background: #3e4692;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px #7ea1c9;
    font-family: 'Roboto', sans-serif; 
}

nav a {
    color: #f7fbfe;
    padding: 15px;
    text-decoration: none;
}

#navLinksLeft,
#navLinksRight {
    padding: 20px;
    font-size: large;
}


.section {
/*    font-size: 6em;
*/    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.sectionHeader {
 font-size: 4vw;
 text-align: center;
 font-family: 'Poppins', sans-serif;   
}

#section1 {
    background-image: url("images/dog7.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-color: white;
}

#section1 .sectionHeader {
    font-weight: bolder;
    font-size: 9vh;
}

#section1 img {
    width: 30vh;
    padding: 10px;
}

#section2 {
    background-color: #f7fbfe;
}

#section3 {
    background-color: #f7fbfe;
}


#footer {
    bottom:0px;
    position:absolute;
    height: 20px;
    display:block;
    width: 100%;
    z-index:9;
    background: #f7fbfe;
    color: black;
    padding: 20px 0px 10px 20px;
}


@media screen and (max-width: 800px) {

    #section1 .sectionHeader {
        font-size: xx-large;
        padding: 10px;
    }

    #section1 img {
        width: 20vh;
    }

    #navLinksLeft,
    #navLinksRight {
        padding: 0px;
    }

    #navLinksRight {
        text-align: right;
    }

    #section1 {
    background-size: 100% 50%;
    background-color: #f9fafe;
 }
}