/*.section {
	font-size: 6em;
	text-align: center;
}

#section1 {
	background-color: #c3d8e5;
}


#section2 {
	background-color: #e68960;
}


#section3 {
	background-color: #c3d8e5;
}


#header, #footer{
	position:fixed;
	height: 50px;
	display:block;
	width: 100%;
	background: #333;
	z-index:9;
	text-align:center;
	color: #f2f2f2;
	padding: 20px 0 0 0;
}
#header{
	top:0px;
}
#footer{
	bottom:0px;
}
*/