.navbar {
    background: #3e4692;
    height: 13vh;
    padding: 30px;
    border-bottom: solid 3px #7ea1c9;
}

.navbar img {
    height: 10vh;
}

.nav-link {
    color: white;
}


.navbar-collapse a.nav-link {
    color: black;
    background-color: #3e4692;
    border-radius: 5px;
    text-align: center;
}

.titleheader {
    font-size: 52px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #7ea1c9;
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.textcontainer {
    margin-bottom: 50px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

#footer {
    background-color: #7ea1c9;
    border-top: 2px solid black;
    font-size: small;
}

.socialImg {
    width: 60px;
    height: 60px;
}

.linksContainer {
    font-size: 16px;
    text-align: right;
    margin-bottom: 0px;
}

.linksContainer a {
    color: black;
    font-size: small;
}

.linksContainer a:hover {
    color: black;
}

.socialMediaContainer {
    text-align: center;
}

.copyright {
    text-align: left;
    color: black;
    display: flex;
    align-items: center;
}

.copyright p {
    margin-bottom: 0px;
}

@media screen and (max-width: 800px) {

    .socialImg {
        width: 40px;
        height: 40px;
    }

    .linksContainer,
    .copyright {
        font-size: 12px;
    }

}
