.section1 {
    text-align: center;
    position: relative;
}

.section1wrapper {
    position: absolute;
    z-index: 1;
    top: 70px;
    text-align: center;
    width: 100%;
}

.section1header {
    font-size: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    padding-top: 30px;
}

.appleImg {
    width: 20%;
    padding: 10px;
}

.dogBackground {
    width: 105%;
    margin-top: 13vh;
}

.section2 {
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
}
